:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --primary-button-bg-color: #F5F4FA;
    --primary-footer-text-color: rgba(255, 255, 255, 0.6);
    --primary-footer-bg-color: #2F303A;
    --primary-team-bg-color: #F5F4FA;
    --accent-bg-hover-color: #188CE8;
    --border-color: #EEEEEE;
    --border-footer: #ECECEC;
    --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

/* Студия*/

.page-header {
    border-bottom: 1px solid var(--border-footer);
}

.main-nav {
    align-items: center;
    display: flex;
}

.logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;

    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo span {
    color: var(--title-text-color);
    font-family: Raleway, sans-serif;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.site-nav {
    display: flex;
}

.site-nav .item+.item {
    margin-left: 50px;
}


.site-nav .link {
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color var(--timing-function);
}

.site-nav .link.current::after {
    content: '';

    display: block;
    width: 100%;
    height: 4px;
    
    position: absolute;
    bottom: -1px;
    left: 0;
    
    background-color: #2196F3;
    border-radius: 2px;
}

.site-nav .link.current {
    color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.contacts {
    margin-left: auto;
    display: flex;
}

.contacts .item+.item {
    margin-left: 30px;
}

.contacts .link {
    padding-top: 32px;
    padding-bottom: 32px;

    display: flex;
    align-items: center;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color var(--timing-function);
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color)
}

.contacts.list {
    display: flex;
    align-items: center;
}

.contacts-icon {
    margin-right: 10px;
    fill: currentColor;
}

.section-hero {
    max-width: 1600px;
    min-height: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color: var(--primary-footer-bg-color);
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.section-hero .title {
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;

    width: 696px;
    color: var(--primary-white-color);

    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.44;

    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity var(--timing-function),
        visibility var(--timing-function);
}


.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(.4) rotate(-180deg);
    opacity: 0;
}

.backdrop .modal {
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
    opacity: 1;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 528px;
    height: 581px;

    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform var(--timing-function),
        opacity var(--timing-function);
}

.modal-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;

    cursor: pointer;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #FFFFFF;
}

button {
    border: 0;
    font-family: inherit;
}


.button {
    color: var(--title-text-color);
    background-color: var(--primary-white-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;

    cursor: pointer;
}

.button.primary {
    padding: 10px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;

    cursor: pointer;

    transition: background-color var(--timing-function);
}

.button.primary:hover,
.button.primary:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-bg-hover-color);
}

.rules {
    display: flex;
}

.section-rules {
    padding-top: 94px;
    padding-bottom: 94px;
}

.rules .item {
    width: 270px;
}


.rules .item::before {
    display: block;
    content: '';
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    background-position: center;
    background-repeat: no-repeat;
}

.antenna::before {
    background-image: url(../images/icons/antenna.svg);
}

.clock::before {
    background-image: url(../images/icons/clock.svg);
}

.diagram::before {
    background-image: url(../images/icons/diagram.svg);
}

.astronaut::before {
    background-image: url(../images/icons/astronaut.svg);
}

.rules .item+.item {
    margin-left: 30px;
}

.section-rules .title {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}


.section-rules .text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
}

.section-work {
    padding-bottom: 94px;
}

.section-work .title {
    margin-bottom: 50px;
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

}

.section-work .list {
    display: flex;
}

.work .item+.item {
    margin-left: 30px;
}

.section-work .item {
    position: relative;
}

.work .text {
    position: absolute;
    bottom: 0;
    left: 0;

    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #FFFFFF;

    background-color: rgba(47, 48, 58, 0.8);
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section-team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--primary-team-bg-color);
}

.section-team .list {
    display: flex;
}

.team .mamber+.mamber {
    margin-left: 30px;
}

.team .mamber {
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.section-team .title {
    margin-bottom: 50px;
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.section-team .title-mamber {
    margin-bottom: 10px;
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.section-team .text {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.section-team .img {
    margin-bottom: 30px;
}

.list.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;

    background-color: #FFFFFF;
    color: #AFB1B8;

    border-radius: 50%;

    transition: background-color var(--timing-function),
                color var(--timing-function);
}

.socials-link:hover,
.socials-link:focus {
    background-color: #2196F3;
    color: #FFFFFF;
}

.socials.item:not(:last-child) {
    margin-right: 10px;
}

.socials.item {
    margin-bottom: 30px;
}

.socials-icon {
    fill: currentColor;
}

.section-clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-clients .title {
    margin-bottom: 50px;
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.section-clients .list {
    display: flex;
}

.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 170px;
    height: 92px;

    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition: border-color var(--timing-function);
}

.clients-link:hover,
.clients-link:focus {
    border-color: #2196F3;
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
    fill: #2196F3;
}

.clients-icon {
    fill: #AFB1B8;

    transition: fill var(--timing-function);
}

.clients .item+.item {
    margin-left: 30px;
}


.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--primary-footer-bg-color);
}

.footer span {
    color: var(--primary-white-color)
}

.logo {
    display: inline-block;
}

.footer .logo {
    margin-right: 0;
    margin-bottom: 20px;
    padding: 0;

}

.footer .address {
    color: var(--primary-white-color);

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}

.footer-list {
    padding: 0;
}

.footer .address {
    margin-bottom: 9px;
}

.footer .link {
    display: inline-block;
    color: var(--primary-footer-text-color);

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;

    transition: color var(--timing-function);
}

.footer .link:hover,
.footer .link:focus {
    color: var(--accent-color);
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer .address {
    display: block;
}

.footer .container {
    display: flex;
}

.join-list {
    display: flex;
}

.join-footer .title {
    margin-bottom: 20px;


    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.join-footer {
    margin-left: 70px;
}

.join-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;

    background-color: rgba(255, 255, 255, 0.1);
    ;
    color: #FFFFFF;

    border-radius: 50%;

    transition: background-color var(--timing-function),
                color var(--timing-function);
}

.join-link:hover,
.join-link:focus {
    background-color: #2196F3;
    color: #FFFFFF;
}

.join.item:not(:last-child) {
    margin-right: 10px;
}

.join-icon {
    fill: currentColor;
}

.container-footer {
    align-items: baseline;
}


/* Портфолио */

.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}


.portfolio .list {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.portfolio .button:hover,
.portfolio .button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter .item+.item {
    margin-left: 8px;
}

.portfolio .button {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 22px;
    padding-left: 22px;

    border-radius: 4px;
    background-color: var(--primary-button-bg-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;

    transition: background-color var(--timing-function),
                color var(--timing-function),
                box-shadow var(--timing-function);
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.projects .item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
}

.projects .item:nth-child(3n) {
    margin-right: 0;
}

.projects .item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.projects .link {
    display: inline-block;

    text-decoration: none;

    transition: box-shadow var(--timing-function);
}

.projects .title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.89; 
    letter-spacing: 0.03em;
    
    color: var(--primary-text-color);
}

.projects .border {
    padding: 20px 24px;

    background-color: var(--primary-white-color);
    border: 1px solid var(--border-color);
    border-top: none;
}

.projects .link:hover,
.projects .link:focus {
    box-shadow:
        0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.projects .link:hover .text-projects,
.projects .link:focus .text-projects {
    transform: translateY(0%);
}

.projects-thumb {
    position: relative;
    overflow: hidden;
}

.text-projects {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    
    padding: 63px 24px;
    color: #FFFFFF;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;

    
    transform: translateY(100%);
    transition: transform var(--timing-function);
    
}